# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
frontend/dist/
backend/target/
out/
build/
*.log

# Configs e Ambiente
.env
.env.*.local

# Caches e temporários
.cache/
.vite/
.vscode/
.idea/
*.swp
*.tmp

# Testes
coverage/
frontend/playwright-report/
frontend/test-results/
backend/test-results/

# Sistema operacional
.DS_Store
Thumbs.db

# Docker (caso gere imagens temporárias)
**/*.tar
